# DO NOT REMOVE. ALREADY CONFIGURED ON HOSTINGER.
PassengerAppType node
PassengerStartupFile app.cjs
PassengerAppEnv production
PassengerFriendlyErrorPages on

DirectoryIndex disabled
Options -Indexes

<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule ^(.*)$ app.cjs [L,QSA]
</IfModule>
